/********** Base styles **********/
h1 {
    margin-bottom: 15px;
    text-align: center;   
  }
  
   .row > div{
    border: 2px solid red;
    background-color: gray;
  }
    .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg {
        width: 33.33%;
        float: left;
    }
  }
  
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-mg {
        width: 50%;
        float: left;
    }
  }